body{
	padding:0;
	margin:0;
}
.top{
	width: 80%;
	height: 200px;
	background: rgba(10,10,10,0.03)
}
.left{
	padding: 20px;
	float:left;
	width: calc(50% - 40px);
	height: 150px;
	background: rgba(10,100,10,0.05);
}
.right{
	padding: 20px;
	float:right;
	width: calc(50% - 40px);
	height: 150px;
	background: rgba(10,10,100,0.05);
}
.mainblock{
	padding: 20px;
	width: calc(80% - 40px);
	background: rgba(100,10,10,0.03);
}
.row{
	display: inline-block;
	width: 80%;
	border: 1px solid rgba(100,100,100,0.7);
	margin-top: - 5px;
}
.checkbox_mainblock{
	float: left;
	margin: 9px 10px;
	width: 100px;
}
.title_mainblock{
	float: left;
	margin: 9px 10px;
	width: 60%;
	min-width: 100px;
}
.delete_buttons{
	float: right;
	width: 24px;
	height: 24px;
	margin: 3px 10px;
	background-image: url(images/delete.png);
	display:block;
}
#input_title{
	float: left;
}